<%- include('include/header') %>
<div class="row justify-content-center">
  <div class="col-lg-10 col-md-12">
    <div class="wrapper">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="contact-wrap text-center">
            <h3 class="mb-4 text-center">Password Details</h3>
            <div
              class="
                card card-columns
                bg-dark
                text-white
                mx-auto
                d-flex
                justify-content-center
                col-12
              "
              style="width: 18rem"
            >
              <div class="text-center pt-3">
                <img height="100" src="/images/list.png" alt="" />
              </div>
              <div class="card-body">
                <h5 class="card-title text-white"><%= password.website %></h5>
                <p class="card-text">User/Email: <%= password.email %></p>
                <p class="card-text">Password: <%= password.password %></p>
                <a href="/password-list" class="btn btn-primary">Go Back</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('include/footer') %>
