<%- include('include/header') %>
<div class="row justify-content-center">
  <div class="col-lg-10 col-md-12">
    <div class="wrapper">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="contact-wrap text-center">
            <h3 class="mb-4 text-center">Password List</h3>
            <ul class="list-group mx-auto d-flex justify-content-center col-12">
              <% if (!hasPasswords) { %>
              <li class="list-group-item list-group-item-dark">
                No Passwords Found.
              </li>
              <% }else{ passwords.forEach(function(password) { %>
              <li class="list-group-item list-group-item-dark">
                <%= password.website %><a
                  class="ml-2 text-secondary"
                  href="<%= `password-detail/${password.id}` %>"
                  ><i class="fa fa-exclamation-circle"></i
                ></a>
                <a
                  class="ml-2 text-warning"
                  href="<%= `edit-password/${password.id}` %>"
                  ><i class="fa fa-pencil-square"></i
                ></a>
                <a
                  class="ml-2 text-danger"
                  href="<%= `deletepassword/${password.id}` %>"
                  ><i class="fa fa-trash"></i
                ></a>
              </li>
              <% })} %>
            </ul>
            <div class="form-group text-center mt-3">
              <button type="button" onclick="add()" class="btn btn-primary">
                Add Password
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('include/footer') %>
